*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.container{
    width: 100%;
    height: 100vh;
    background-image: rgb(218,219,212);
    background-image: linear-gradient(0deg, rgba(218,219,212,1) 85%, rgba(0,150,136,1) 85%);
}


/* left */
.container-left{
    float: left;
    width: 25%;
    height: 90%;
    background-color: lightgreen;
    margin-top: 30px;
    margin-left: 10%;
}
.header-left{
    background-color: lightblue;
    width:100%;
    height: 10%;
    border-right: 1px solid gray;
}
.disclaimer{
    width:100%;
    height: 12%;
    background-color: lightslategray;
}
.searchbar{
    width:100%;
    height: 5%;
    background-color: lightseagreen;
}
.contacts{
    width:100%;
    height: 73%;
    background-color: lightcyan;
    overflow: hidden;
}




/* right */
.container-right{
    float: left;
    width: 50%;
    height: 90%;
    background-color: lightsalmon;
    margin-top: 30px;
}
.header-right{
    background-color: lightblue;
    width:100%;
    height: 10%;
}
.chat-box{
    width: 100%;
    height: 80%;
    background-color: blanchedalmond;
    background-image: url(../img/mine.jpg);
}
.chat{
    background-color: lightblue;
    width:100%;
    height: 10%;
}